div#preface {
  padding-left: 60px;
  padding-right: 60px;
  
}

div#section1 {
  margin-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

div#section2 {
  padding-left: 60px;
  padding-right: 60px;
}

div#section3 {
  padding-left: 60px;
  padding-right: 60px;
}

div#map1 {
  border-color: #004641;
  border-style: dashed;
  border-width: 2px;
  width: "device-width";
  height: 100vh;
}

div#map2 {
  border-color: #004641;
  border-style: dashed;
  border-width: 2px;
  width: "device-width";
  height: 100vh;
}

div#map3 {
  border-color: #004641;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 20px;
  width: "device-width";
  height: 100vh;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #1B3852;
  font-style: normal;
  margin-top: 40px;
  padding-bottom: 20px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #264F73;
  font-style: normal;
  margin-bottom: 40px;
  margin-top: 60px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: hsl(208, 84%, 12%);
  font-style: normal;
  margin-bottom: 10px;
}


p {
  line-break: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #1B3852;
  padding: 5px;
}

p#footer {
  font-size: 12px;
}

a:link {
  color: #004641;
}


a:visited {
  color: #00806b;
}

/* mouse over link */
a:hover {
  color: #50052b;
}

button {
  
  border-radius: 12px;
  border: 1px dashed #50052b;
  outline: none;
  color:#50052b;
  background-color: #fff;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  font-size: 14px;
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  transform: translateX(-50%); 
  z-index: 1000;
  padding: 15px;
  cursor: pointer

}

button:hover {

  background-color: #666;
}

footer {

  text-align: left;
  padding: 10px;
  background-color: #E6C998;
  color: #264F73;
  
}

.leaflet-popup {
    background-color: #fff;
    border: 2px solid #004641;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
    
}

.leaflet-popup-content h2 {
    font-size: 18px;
    color: #008078;
    
  }

.leaflet-popup-content h3 {
    font-size: 14px;
    color: #004641;
    
  }

.leaflet-popup-content p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
.leaflet-popup-content a {
    color: #00BAAD;
    text-decoration: none;
  }
  
.leaflet-popup-content a:hover {
    text-decoration: underline;
  }

.leaflet-popup-content {
    padding: 10px;  /* Padding innerhalb des Popups für ein wenig Innenabstand */
    background-color: #fff;
  }  /* Weißer Hintergrund für bessere Lesbarkeit */

.leaflet-control-layers {
    z-index: 10000 !important;
  }

.info-group {
    margin-bottom: 0px;
    padding: 0px;
  }

.subtitle {
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0.8px;  /* Kursiv für den Untertitel */
    color: #666;         /* Ein sanfteres Grau für den Untertitel */
    margin-top: 0;       /* Kein Abstand nach oben */
    margin-bottom: 10px; /* Abstand nach unten, um den Abstand zu den anderen Elementen zu definieren */
}

.custom-tooltip {
    z-index: 99 !important;  /* Hoher Z-Index für den Tooltip */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: Ein halbtransparentes Hintergrund für den Tooltip */
}